@import 'nib'
fondo= #FFFFFA

.main
  background fondo
  text-align center
  &-profile
    width 7em
    border-radius 20%
    margin-top 1em
  &-section
    background red
    &-article
      background blue 
