<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Yeso Webdev
	link(rel='stylesheet', href='css/estilos.css')
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
body
	nav.Sidebar
		img.Sidebar-logo(src="img/logo.png", alt="logo")
		ul.Sidebar-nav
			li.Sidebar-nav-list Inicio
			li.Sidebar-nav-list Portafolio 
			li.Sidebar-nav-list Blog
			li.Sidebar-nav-list Contacto
	main.main
		img.profile(src="img/profile.png", alt="logo")
		section.section
			article.section-article
				p.section-article-text
script(src='js/script.js')
