<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Yeso Webdev
	link(rel='stylesheet', href='css/estilos.css')
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
body
	nav.Sidebar
		img.Sidebar-logo(src="img/logo.png", alt="logo")
		ul.Sidebar-nav
			li.Sidebar-nav-list Inicio
			li.Sidebar-nav-list Portafolio 
			li.Sidebar-nav-list Blog
			li.Sidebar-nav-list Contacto
	main.main
		img.main-profile(src="img/profile.jpg", alt="Yesid Ghisays")
		h2 Yesid Ghisays
		h3 Desarrollador Frontend
		section.main-section
			article.main-section-article
				p.section-article-text Hola ! Soy Yesid (@yesox126) un entusiasta estudiante de platzi y desarrollador frontend |freelancer, que le encanta diseñar y codear webpages y webapps, puedo hacer paginas de alto rendimiento y |aplicaciones optimizadas para funcionar apropiadamente en cualquier dispositivo/navegador, diseño responsive |para acomodar el contenido a dispositivos moviles e inclusive smart tvs, diseño plano o realista dentro de la |fecha limite del proyecto. 
			article.main-section-article
				p.section-article-text Mi meta es cumplir y sobrepasar los requisitos del cliente usando las tecnologias mas |modernas disponibles en el mercado, manteniendo retrocompatibilidad con plataformas mas estandarizadas. 
script(src='js/script.js')
